@model Modelos.OrdenCompraModel

<h2>Lista de Artículos Seleccionados</h2>

<hr />
@Html.HiddenFor(model => model.cabecera.ID, new { id = "cabeceraId" })
<table id="productosActuales" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
</table>
<div class="col-md-offset-0 col-md-10">
    @Html.ActionLink("Volver", "Edit", new { ordenCompraId = 14})
</div>
<script src="~/Scripts/Views/articulosCargados.js"></script>
