@model Modelos.OrdenCompraModel


<div class="row">
    <div class="col span_24 anchocol">
        &nbsp
    </div>
</div>
<div class="row">
    <div class="col span_24 anchocol">
        &nbsp
    </div>
</div>
<div class="row">
    <div class="col span_24 anchocol">
        &nbsp
    </div>
</div>
<div class="row">
    <div class="col span_24 anchocol">
        &nbsp
    </div>
</div>
<div class="row">
    <div class="col span_24 anchocol">
        &nbsp
    </div>
</div>
<div class="row">
    <div class="col span_24 anchocol">
        &nbsp
    </div>
</div>

<h2>Artículos Cargados</h2>

<hr />

<div class="row">
    <div class="col span_24 anchocol">
        <table id="articuloCargadoGrid"></table>
        <div id="articuloCargadoPager"></div>
    </div>
</div>

<div id="articuloCargadoDialog">
    <div id="articuloCargadoDialogTarget"></div>
</div>
