@model Modelos.OrdenCompraModel

<h2>Artículos cargados</h2>

<table id="productosActuales" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
</table>