<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error general.</h1>
        <h2>La sesión ha expirado.</h2>
    </hgroup>
</body>

</html>
